* {
    margin: 0;
    padding: 0;
}

.d-none {
    display: none !important;
}

html {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    background-color: whitesmoke;
}

body {
    display: grid;
    grid-template-rows: 6vh calc(100vh - 6vh - 15vh) 15vh;
}

h1 {
    font-size: 3vh;
}

button {
    display: block;
    border: none;
    border-radius: 5px;
}

header {
    height: 4vh;
    padding: 1vh 2vw;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
}

header button {
    font-weight: bold;
    font-size: 2.5vh;
    height: 4vh;
    width: 6vh;
    margin-left: 15px;
}

footer {
    height: 13vh;
    width: 100%;
    padding: 1vh 2vw;
    background-color: grey;
}

footer div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer button {
    width: 40vw;
    height: 10vh;
    color: white;
    font-size: 2.5vh;
}

footer button#yes {
    background-color: darkgreen;
}

footer button#no {
    background-color: darkred;
}

footer button#continue {
    color: black;
}

footer button#new {
    background-color: darkblue
}

#card {
    height: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#card #text {
    font-size: 7vh;
}

#card #addText {
    font-size: 5vh;
}